*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  white-space: pre-line;
}

.instructions h3 {
  margin: 0 0 20px 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
  padding: 0px;
  position: relative;
}

.column {
  width: 340px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.instructions {
  flex-grow: 1;
}

#image {
  width: 100%;
  flex-grow: 2;
  flex-shrink: 0;
}

#mainButton {
  width: 100px;
  height: 50px;
  font-size: 18px;
}
.centeredButton {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.topButton {
  margin: 40px auto 0 auto;
  display: block;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .column {
    width: 268px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }

  .column {
    width: 100%;
    margin: 0 0 60px 0;
    float: none;
  }
}
